.bee-f-m-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}
.bee-f-m-code-embed {
  top: 517px;
  left: 432px;
  width: 428px;
  height: 370px;
  position: absolute;
}
.bee-f-m-image {
  top: 269px;
  left: 432px;
  width: 291px;
  height: 243px;
  position: absolute;
  object-fit: cover;
}
.bee-f-m-image1 {
  top: -52px;
  left: 143px;
  width: 871px;
  height: 463px;
  position: absolute;
  object-fit: cover;
}
.bee-f-m-navlink {
  top: 11px;
  left: 13px;
  position: absolute;
  text-decoration: none;
}
.bee-f-m-container1 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bee-f-m-video {
  width: 320px;
  height: 180px;
}
.bee-f-m-button {
  top: 510px;
  left: 724px;
  width: 258px;
  height: 178px;
  position: absolute;
  background-color: #000000;
}
